/* ************************* */

/* EVT 2.0 CUSTOM STYLESHEET */

/* ***************************************************************** */

/*                                                                   */

/* Add here your CSS to customize the style of the elements          */

/* If you'll not see any changes, try adding !important to the rule  */

/*                                                                   */

/* For generic TEI elements, use the tagName as class                */

/* e.g. <del/> => .del{ # your style goes here # }                   */

/*                                                                   */

/* ***************************************************************** */
.term {
    background-color: coral;
}

.figDesc {
    display: block;
    border-left: 5px solid #b30000;
    background-color: #ffe6e6;
    padding: 5px 5px 5px 8px;
    margin-bottom: 3%;
    text-align: justify;
    font-size: 95%;
    font-style: italic;
}

span.analogue span.analogue__text span.quote {
    font-style: italic;
}

span.quote sup.iconbis-evt_quote-left,
span.quote sup.iconbis-evt_quote-right {
    display: none;
}
.p {
    width: 500px !important;
    margin-left: 100px !important;
    text-decoration: black !important;
}

.title[data-rend = "italic"] {
    font-style: italic !important;
}

.foreign[data-rend = "italic"] {
    font-style: italic !important;
}

.abbr[data-rend = "bold"] {
    font: bold !important;
}

.quote[data-rend = "italic"] {
    font-style: italic !important;
}

.del[data-rend = "dotted"] {
    display: inline;
    text-decoration: underline !important;
    background-color: transparent !important;
}
.del[data-rend = "overstrike"] {
    display: inline !important;
    text-decoration: line-through !important;
    background-color: transparent !important;
}
